/*********************************************************************** 
    Seitenüberschrift 
************************************************************************/
.main-title.desktop-only p.title{
	padding-left:3em;
}
/*---------------------------------------------------------------------*/


/*********************************************************************** 
    Ausblenden von:
    - Seitenwerkzeuge
    - Benutzerwerkzeuge
    In der Seitenleist für Nutzer, die nicht angemeldet sind
************************************************************************/
.nav-sitetools, .nav-usermenu {
	display:none;
}

.loggedIn .nav-sitetools, .loggedIn .nav-usermenu {
	display:block;
}
/*---------------------------------------------------------------------*/



/*********************************************************************** 
    Ausblenden der Suchleiste in der Sidebar
************************************************************************/
.search.main-sidebar {
	display:none;
}
/*---------------------------------------------------------------------*/


/*********************************************************************** 
    Überschriften auf den Seiten
************************************************************************/
#dokuwiki__content h1 {
    border-bottom: 1px solid lightgray;
    padding-bottom: 7px;
}
/*---------------------------------------------------------------------*/




/*********************************************************************** 
    Containter for button-plugin
************************************************************************/

.plugin_button  {
	width:150px;
    min-height: 185px;
    margin-left: 2em;
    background:#F6F6F6;
    padding:0.5em;
    padding-bottom:0.7em;
    margin-top:2em;
    text-align:center;
    cursor:pointer;
    border:none;
    border-radius:0px;
    
	box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
              0 2px 2px rgba(0,0,0,0.11), 
              0 4px 4px rgba(0,0,0,0.11), 
              0 6px 8px rgba(0,0,0,0.11),
              0 8px 16px rgba(0,0,0,0.11);

	transition:100ms;
	display:inline-block;
	
}

.plugin_button:hover {
	transition: 200ms;
	transform: rotate(2deg);
	background:#F6F6F6;
	color:inherit;
	
	box-shadow: 0 2px 2px rgba(0,0,0,0.11), 
				0 4px 4px rgba(0,0,0,0.11), 
				0 8px 8px rgba(0,0,0,0.11), 
                0 12px 16px rgba(0,0,0,0.11),
                0 16px 32px rgba(0,0,0,0.11);

}

.plugin_button_image {
	padding:0;
	width:100%;
	display:inline-block;
	height:130px;
	overflow:hidden;
}

.plugin_button_text {
	width:80%;
	display:inline-block;
}

.plugin_button img {
	width:80px;
	margin:0 auto;
	margin-top:15% !important;
	margin-bottom:5% !important;
}

/*---------------------------------------------------------------------*/

/*********************************************************************** 
    Approve Plugin
************************************************************************/
#plugin__approve {
    right:clear;
    left:0;
    background:none;
}

#plugin__approve.plugin__approve_red {
    color:red;
}

#plugin__approve.plugin__approve_ready {
    color:green;
}


/*********************************************************************** 
    Addnewpage Plugin
************************************************************************/

div .addnewpage {
    margin-bottom:1em;
}

/*********************************************************************** 
    Spalten an Mobile View anpassen
************************************************************************/
@media (max-width: 750px) {
    /* Nspages-Plugin */
    .plugin_nspages .catpagecol {
        width:100% !important;
    }
    
    .plugin_nspages .catpagechars.continued {
        display:none !important;
    }
    
    /* wrap-plugin */
    .wrap_col2 {
        column-count:1 !important;
    }
    
    /* own implementations */
    .plugin__sprintmod_statusbar,
    .plugin__sprintmod_newpage {
        display:none;
    }
}


/*********************************************************************** 
    ID-Anzeige
************************************************************************/
.plugin__sprintmod_statusbar {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 2px 10px 2px 10px;
    z-index: 2;
    background-color: #f5f2f2;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    color: gray;
    font-size: 14px;
}

/*********************************************************************** 
    Anzeige von AddNewPage-Plugin
************************************************************************/
.plugin__sprintmod_newpage {
    position: fixed;
    bottom: -65px;
    left: 2em;
    z-index: 3;
    padding: 0.5em;
    transition:100ms;
}

.plugin__sprintmod_newpage span {
    font-size:18px;
    border:1px solid lightgray;
    padding:2px;
    background:#f5f2f2;
}

.plugin__sprintmod_newpage:hover {
    background: white;
    bottom:0;
    border:1px solid lightsteelblue;
    
    span {
        border:0;
        padding:0;
        background:none;
    }
    
}
