/*********************************************************************** 
    Seitenüberschrift 
************************************************************************/
.main-title.desktop-only p.title{
	padding-left:3em;
}
/*---------------------------------------------------------------------*/


/*********************************************************************** 
    Ausblenden von:
    - Seitenwerkzeuge
    - Benutzerwerkzeuge
    In der Seitenleist für Nutzer, die nicht angemeldet sind
************************************************************************/
.nav-sitetools, .nav-usermenu {
	display:none;
}

.loggedIn .nav-sitetools, .loggedIn .nav-usermenu {
	display:block;
}
/*---------------------------------------------------------------------*/


/*********************************************************************** 
    Ausblenden der Suchleiste in der Sidebar
************************************************************************/
.search.main-sidebar {
	display:none;
}
/*---------------------------------------------------------------------*/

